.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--welcome-card-bg);
    border-radius: 8px;
    padding: 16px;
    margin: 16px 16px 0;
    h2 {
      margin-top: 40px;
      text-align: center;
    }
  }
  .actions {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-index-bottom-nav);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var( --welcome-text-color);
    font-size: 24px;
    padding: 24px 16px;
    background-color: var(--welcome-bg-end);
    > .fake {
      visibility: hidden;
    }
  }
}