.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 66px;
  // 线性背景色
  background-image: linear-gradient(to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);
  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    > h1 {
      color: #d4d4ee;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}